footer {
  border-bottom: 6px solid $color-red-0;
 
  margin-top: 50px;
  line-height: 25px;
  .row{
      width: 90%;
      margin: 0 auto;
  }

  .footer__top {
    border-bottom: 1px solid $color-gray-6;
    .language {
      width: 200%;
      text-align: right;
      .selectpicker {
        width: 160px;
        padding: 10px 0;
        display: inline-block;
        &:focus {
          outline: none;
        }
      }
    }
    .footer__links {
      ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 110px;
        list-style: none;
        li {
          text-decoration: none;
          a {
            text-decoration: none;
            @include text($color-blue, $fs-1, $fw-normal);
            &:hover {
              color: #003845;
            }
          }
        }
      }
    }
  }

  .footer__bottom {
    padding-bottom: $pd-2 + 10;
    .footer__left {
      span {
        @include text($color-gray-4, $fs-1, $fw-normal);
      }
      img {
        width: 110px;
      }
    }
    .footer__right--links {
      text-align: right;
    }
    padding-top: 30px;

    ul {
      list-style: none;
      li {
        display: inline;
        text-decoration: none;
        margin-right: $pd-1;
        a {
          text-decoration: none;
          @include text($color-blue, $fs-1, $fw-normal);
          &:hover {
            color: #003845;
          }
        }
      }
    }
  }
}
